In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import joblib


warnings.simplefilter('ignore')
np.random.seed(42)

In [25]:
ds=pd.read_csv("Trainingset.csv")
new_ds = ds.filter(['age','bmi','weight','glucose_apache''d1_glucose_min','ventilated_apache','arf_apache','d1_wbc_max','d1_creatinine_min','d1_glucose_max','diabetes_mellitus'])
new_ds.head()

,age,bmi,weight,ventilated_apache,arf_apache,d1_wbc_max,d1_creatinine_min,d1_glucose_max,diabetes_mellitus
0,68.0,22.732803,73.9,0,0,14.1,2.23,168.0,1
1,77.0,27.421875,70.2,1,0,23.3,0.56,145.0,1
2,25.0,31.952749,95.3,0,0,NaN,NaN,NaN,0
3,81.0,22.635548,61.7,1,0,9.0,NaN,185.0,0
4,19.0,NaN,NaN,0,0,NaN,NaN,NaN,0

In [16]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
imputer.fit(new_ds)
newds=imputer.transform(new_ds)
newds=pd.DataFrame(newds)

In [17]:
newds.columns=new_ds.columns
newds.head()

,age,bmi,weight,d1_wbc_max,d1_creatinine_min,d1_glucose_max,diabetes_mellitus
0,68.0,22.732803,73.9,14.1,2.23,168.0,1.0
1,77.0,27.421875,70.2,23.3,0.56,145.0,1.0
2,25.0,31.952749,95.3,11.1,0.94,150.0,0.0
3,81.0,22.635548,61.7,9.0,0.94,185.0,0.0
4,19.0,27.564749,80.0,11.1,0.94,150.0,0.0

In [18]:
x=newds.drop(['diabetes_mellitus'],axis=1)
y=newds.diabetes_mellitus
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

In [6]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\stclabs\anaconda3\lib\site-packages (0.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: imbalanced-learn in c:\users\stclabs\anaconda3\lib\site-packages (from imblearn) (0.9.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\stclabs\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\users\stclabs\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\stclabs\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\stclabs\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\stclabs\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)

In [19]:
from imblearn.over_sampling import RandomOverSampler

In [20]:
ros = RandomOverSampler(random_state=42)

# fit predictor and target variable
x_ros, y_ros = ros.fit_resample(x, y)

print('Original dataset shape', y_train.value_counts())
print('Resample dataset shape', y_ros.value_counts())

Original dataset shape 0.0    81618
1.0    22507
Name: diabetes_mellitus, dtype: int64
Resample dataset shape 1.0    102006
0.0    102006
Name: diabetes_mellitus, dtype: int64

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x_ros, y_ros,test_size=0.2,random_state=42)
rf = RandomForestClassifier()
model=rf.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(Y_test,y_pred)

In [22]:
print(accuracy)

0.918314829791927

In [24]:

print(rf.predict([[68.0,22.732803,73.9,14.1,2.23,168.0]]))

[1.]

In [11]:
f_s=pd.Series(model.feature_importances_,index=x_ros.columns)
f_s

age                  0.116447
bmi                  0.152987
weight               0.133500
ventilated_apache    0.013999
arf_apache           0.008712
d1_wbc_max           0.118929
d1_creatinine_min    0.125265
d1_glucose_max       0.330162
dtype: float64